app-publications{
    margin-bottom: 2%;
}

.mat-card{
    display: flex;
    font-size: var(--font-size-main);
}

.mat-card-image{
    margin-top: 10px !important;
}

.mat-content{
    text-align: center;
    font-size: var(--font-size-main);
}

#mat-content-info{
    text-align: left;
    /*padding-top: 30px;*/
}

.img_user_profile{
    width: 80px !important;
    height: 100px !important;
}

.mat-card.content-publications{
    display: block !important;
}

.content-publications > .card-publication{
    margin-top: 5px !important;
}
