<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class = "row mt20" style="margin-top: 20px;">
            <div class = "col-md-12 mb-r2">
                <mat-card class="mat-card">
                    <mat-card-content class="col-md-4 " rowHeight="200px" id="mat-content-img">               
                        <div class="">
                            <img *ngIf='this.user.profile.urlPhoto==null || this.user.profile.urlPhoto==""' mat-card-image src= '../../../../assets/img-profile-svg.svg' alt="Imagen de perfil por defecto" width="200px" height="200px"> 
                            <img *ngIf='this.user.profile.urlPhoto!=null && this.user.profile.urlPhoto!=""' mat-card-image [srcset]= "this.user.profile.urlPhoto" alt="Imagen de perfil del usuario" width="170px" height="200px"> 
                        </div>
                    </mat-card-content>
                    <mat-card-content *ngIf="this.user!=null" class="col-md-8 mat-content pl20" rowHeight="200px" id="mat-content-info">
                        <div class="row pt20 mt20">
                            <mat-label>{{this.user.name}} {{this.user.lastName}}</mat-label>
                        </div>
                        <div class="row pt10 mt10">
                            <mat-label>@{{this.user.profile.nickName}}</mat-label>
                        </div>
                        <div class="row pt10 mt10">
                            <mat-label><mat-icon class="mr10">mail</mat-icon>{{this.user.email}}</mat-label>
                        </div>
                        <div class="row pt10 mt10">
                            <mat-label><mat-icon class="mr10">call</mat-icon>{{this.user.profile.cellphone}}</mat-label>
                        </div>
                        <div class="row pt10 mt10">
                            <mat-label><mat-icon class="mr10">diversity_3</mat-icon>{{this.user.profile.follows.length}}</mat-label>
                        </div>
                        <div *ngIf="!isCurrentUser()" class="row pt20">
                            <button *ngIf="!is_followed"  mat-raised-button color="primary" width="40px" (click)="followUser()">FOLLOW</button>
                            <button *ngIf="is_followed" mat-raised-button color="primary" width="50px" (click)="stopFollowing()">STOP FOLLOWING</button>
                        </div>
                    </mat-card-content>
                </mat-card>

                <app-publications [createPost_isVisible]="createPost_isVisible" [user]="user"></app-publications>
                <!--
                <mat-card class="mat-card mt10 content-publications" id="user_publications" >
                    <app-create-post></app-create-post>
                    <mat-card class="card-publication" *ngFor="let publi of user.publications;let indice=index">
                        <mat-card-header>
                          <mat-card-title>{{user.publications[indice].title}}</mat-card-title>
                          <mat-card-subtitle>{{user.publications[indice].date}}</mat-card-subtitle>
                        </mat-card-header>
                        <img *ngIf="user.publications[indice].picture!=null" class="img_user_profile ml10 mr10"
                            mat-card-image [src]='user.publications[indice].picture'
                            alt="Photo of the publication">
                        <mat-card-content>
                          <p>{{user.publications[indice].body}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                      
                </mat-card>
                -->
            </div>
        </div>
    </div>
</div>
