<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class = "col-md-12">
                <app-search-bar (paginaEmitter)="buscarUser($event)"></app-search-bar>
                <app-create-post *ngIf=true></app-create-post>
                <app-user-dashboard *ngIf="discover_people" [createPost_isVisible]="createPost_isVisible" [to_visit]=true [nick_current_user]="nick_current_user" [user_nickName_to_visit]="user_nickName"></app-user-dashboard>
                <!--<app-publications></app-publications>-->
            </div>
        </div>
    </div>
</div>