<mat-toolbar color = 'primary'>
    <a [routerLink] = "'/dashboard'" mat-icon-button class = "example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon matTooltip="Go to dashboard">diversity_3</mat-icon>
    </a>
    <span>Social Connect</span>
      
    <span class="example-spacer"></span>
    <a 
        *ngIf = "!loginService.isLoggedIn()"
        [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="icon-button with heart icon">
        Log in
    </a>
    <a 
        *ngIf = "loginService.isLoggedIn()"
        [routerLink]="'/dashboard'" mat-icon-button class="example-icon favorite-icon mr40" aria-label="icon-button with heart icon">
        New post
    </a>
    <a 
        *ngIf = "!loginService.isLoggedIn()"
        [routerLink]="'/signup'"
        mat-icon-button class="example-icon favorite-icon mr20 ml70" aria-label="icon-button with heart icon">
        Sign up
    </a>
    <span *ngIf = "loginService.isLoggedIn()">
        <button *ngIf="this.userName!=null" class="mat-button" mat-button [matMenuTriggerFor]="menu">{{this.userName}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="'/dashboard'">Dashboard</button>
            <button mat-menu-item (click)="setUser_viewProfile()">My profile</button>  <!--this.router.navigate(['user/profile',user.email]);-->
            <button [routerLink]="'/user/edit_profile'" mat-menu-item>Edit profile</button>
            <button mat-menu-item (click) = "logout()" [routerLink]="'/login'" class="example-icon favorite-icon" aria-label="icon-button with heart icon">
                Log out
            </button>
        </mat-menu>
    </span>

    <!--<button
        *ngIf = "loginService.isLoggedIn()"
        mat-button
        style="margin-right: 10px;"
        mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    {{loginService.getUser().name}}
    </button>-->
</mat-toolbar>
