.example-spacer{
    flex: 1 1 auto;
}

mat-tolbar > a{
    align-items: end;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    font-size: var(--font-size-button-type-1);
}

a.mat-icon-button,
.mat-button{
    font-size: var(--font-size-button-type-1);
}

mat-toolbar{
    font-size: var(--font-size-main);
}