.card-publication{
    margin-top: 1%;
}

img{
    width: auto;
    max-width: 30%;
    height: auto;
    max-height: 30%;
}

.mat-card-image{
    margin-bottom: auto;
}

/**
.mat-card .content-publications{
    display: block !important;
}*/

.content-publications > .card-publication{
    margin-top: 5px !important;
}

.mat-card>.mat-card-actions{
    text-align: right;
}

.mat-card-content{
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2%;
}