mat-card{
    --font-size-content-card:13pt;
}

.card-publication{
    margin-top: 1%;
}

.mat-card-title{
    font-size: var(--font-size-main) !important;
}

.card-publication > .mat-card-content{
    font-size: var(--font-size-main);
}

img{
    width: auto;
    max-width: 30%;
    height: auto;
    max-height: 30%;
}

.mat-card-image{
    margin-bottom: auto;
}

/**
.mat-card .content-publications{
    display: block !important;
}*/

.content-publications > .card-publication{
    margin-top: 5px !important;
}

.mat-card>.mat-card-actions{
    text-align: right;
    
}

button[mat-button],
button[mat-raised-button]{
    font-size: var(--font-size-button-type-1);
}

.mat-card-content{
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2%;
    font-size: var(--font-size-content-card) !important;
}